

<div class="musiciansignupcontainer">

<div class = "appheadtext">

<h3>Your Bid</h3>

</div>


<div class="musiciansignuppadding">

<%= simple_form_for(@bid, html: { class: "form-vertical"}) do |f| %>

	<div class="musiciansignupform">


  <h5> My quote </h5>

 <%= f.input :quote, as: :float, :label => false, :placeholder =>'My Quote' %>

	</div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>

<% end %>

</div>

</div>

</div>