<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @gig_request.description %>
</p>


<%= link_to 'Edit', edit_gig_request_path(@gig_request) %> |
<%= link_to 'Back', gig_requests_path %>
