<div class="center hero-unit">
    <h1>Welcome to Project Phoenix! </h1>
    <p>to <%= link_to 'Project Phoenix',  "http://onemonthrails.com" %>
     </p>

    <p> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>