

<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class = "home">

	<div class = "homewrap">
		
			<div class = "video-container">
				
				<div class = "video">

					<iframe width="420" height="315" src="//www.youtube.com/embed/mgIZrSlPuko?rel=0" frameborder="0" allowfullscreen></iframe>

				</div>

			</div>

			<div class = "copy-container">

				<h1> Song Bird </h1>
				
				<p> Copy </p>
					<br>
				
				<P> more copy </p>

				<p> even more copy <p>

				<p> guess what..more copy<p>
				
					<br>
					<br>
					<br>

					<div class="main-cta">
						<br>
						<br>
						<br>

				<a href="/request" class="request-cta"> Request Live Musicians </a>
					</div>
				</div>

			</div>

		

	</div>



<!--
	<div class = "requestgigcontainer">
		<h4> Need live musicians? </h4>

		<br>

		<a href="/request" class="request_button">Request Live Musicians </a>

		<br>
		<br>
		
		<h4>
			It's FREE!
		</h4>

	</div>

-->

	<div class = "interim-section-wrap">

		<div class = "interim-section">

			<h3> The fastest, easiest way to find the best musicians for your event. </h3>

		</div>

	</div>


	<div class = "bottom-section">

		<div class="below-containerx">

			<div class="step1">

				<div class="rb-badge">1</div>

				<h3> Request Musicians </h3>

				<p> Give us a few details about your event. </p>

			</div>
						
			<div class="step2">

				<div class="rb-badge">2</div>

				<h3> Get Matched </h3>

				<p> Pick the musician that is right for you! </p>

			</div>

			<div class="step3">

				<div class="rb-badge">3</div>

				<h3> Have a great event </h3>

				<p> Once the event is done, make easy and safe payments through SongBird </p>

			</div>

		</div>

	</div>


	<div class = "presswrap">
		<div class = "people-press">
			Placeholder for branded content and/or social media
		</div>

		<div class = "fbmargin">
			<div class="fb-like" data-href="https://www.facebook.com/Songbird" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

			<a href="https://twitter.com/gosongbird" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow</a>

		</div>


	</div>


</div>