<div id="fb-root"></div>

<!--<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

-->

<div class = "homewrap">
	
		<div class = "hometext">
			<h1> </h1>

			<h1> THE BEST MUSICIANS FOR YOUR EVENT! </h1>

			<h2> 

			</h2>

			<h2> </h2>

			<h3 class = "bottom-margin"> We find you quality local bands, DJs, classical musicians, and more for your event. </h3>
		</div>

	<div class="djpic">
		<img src="images/djpic.png" alt="">
	</div>

	<div class="violinistpic">
		<img src="images/violinistpic.png" alt="">
	</div>

	<div class="bandpic">
		<img src="images/bandpic.png" alt="">
	</div>

</div>


	<div class = "requestgigcontainer">
		<h4> Need live musicians? </h4>

		<h4> <%= link_to 'Request Live Musicians!', new_user_registration_path , class: "btn btn-large btn-primary" %> </h4>
		<h4>
			<img src="images/free.png">
		</h4>

	</div>

	<div class = "description1of3">

		<h4>
			<img src="images/pros.png">
		</h4>

	</div>

	<div class = "description2of3">

		<h4>
			<img src="images/pros.png">
		</h4>

	</div>

	<div class = "description3of3">

		<h4>
			<img src="images/pros.png">
		</h4>

	</div>

<div class = "herowrap">



</div>

<div class = "presswrap">
	<div class = "people-press">
		People and press that like us
	</div>
<!--
	<div class = "fbmargin">
		<div class="fb-like" data-href="https://www.facebook.com/Songbird" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

		<a href="https://twitter.com/gosongbird" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow</a>

	</div>

-->

</div>


<div class = "home">

	<div class = "hometext">
		
		

	</div>
    
<!--
  <img src="http://files.myopera.com/arshamr/albums/612249/Nature%20(3).jpg" alt="" class="adjusted">
-->

</div>