<style>
  .bottom-three {
     margin-bottom: 3cm;
  }
</style>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active">
    	<a href="#aref" data-toggle="tab">How It Works</a>
    	
    </li>

    <li class>
    	<a href="#bref" data-toggle="tab">Quality Musicians</a>
    	
    </li>

    <li class>
    	<a href="#cref" data-toggle="tab">SB Guarantee</a>
    	
    </li>

    <li class>
    	<a href="#dref" data-toggle="tab">Competitive Quotes</a>
    	
    </li>

    <li class>
    	<a href="#eref" data-toggle="tab">SB on Mobile</a>
    	
    </li>

    <li class>
    	<a href="#fref" data-toggle="tab">Customer Care</a>
    	
    </li>

</ul>

    <div class = "tab-content">

    
    	<div class="tab-pane active" id="aref">

			<h3> How it works </h3>

			<h4> We're here to help </h4>

			<p> Whether you’re just starting a job or need us to takeover one already in progress, we’re here for you. Just let us know what you need, and we’ll get to work for you right away. </p>

    		 <div class="pane-section" id="hiw_0">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Step 1 - Make a request (it takes just 60 seconds) </b></span>

    		<div class="pane-section-left">
    			<p> Tell us: </p>

    		<ul>
    			<li> What kind of music entertainment you want for your event - like a band, DJ, or classical musician </li>
    			<li> Some key details about the event - the type of event, the time/date of the event, your budget, etc.)  </li>
    			<li> The best way to contact you with quotes (email, text, or phone) </li>
    		</ul>
    		</div>
    </div>

    	<div class="pane-section" id="hiw_1">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Step 2 - Our technology matches your request with the right musical entertainment </b></span>

    		<div class="pane-section-left">
    			<p> The moment we receive your gig request, we use the power of our comprehensive live musical entertainment matching system to get you high quality musical entertainment for your event. </p>

    			<p> We: </p>

    		<ul>
    			<li> Find high quality, SB-approved musical professional from our community </li>
    			<li> Check their availability for your event  </li>
    			<li> Confirm their reputation with customer reviews and related event history </li>
    			<li> Verify they comply with the SB quality music entertainment standard </li>
    		</ul>
    		</div>

    	</div>

    	<div class="pane-section" id="hiw_2">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Step 3 - We send you up to four competitive quotes </b></span>

    		<div class="pane-section-left">
    			<p> We fetch and send you competitive prices from each matched musical entertainer as soon as we receive them. All you have to do is pick the musical entertainment and the price you like. </p>
    		</div>

    	</div>

    	<div class="pane-section" id="hiw_3">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Step 4 - Book your musical entertainment online through the SB website </b></span>

    		<div class="pane-section-left">
    			<p> Once you have read real customer reviews and checked out the musician's profile and SB score, you will be ready to make a decsiion, submit a credit card, and book. By booking through the SB website you will get: </p>

    		<ul>
    			<li> The SB Guarantee (link this) </li>
    			<li> Help scheduling musical entertainment that works for you  </li>
    			<li> Our end-to-end customer care that comes with every job </li>
    		</ul>
    		</div>

    	</div>

    	<div class="pane-section" id="hiw_4">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Step 5 - When the event is done, pay through SB </b></span>

    		<div class="pane-section-left">

    		<ul>
    			<li> The SB Guarantee (link this) </li>
    			<li> Help scheduling musical entertainment that works for you  </li>
    			<li> Our end-to-end customer care that comes with every job </li>
    		</ul>
    		</div>

    	</div>
    </div>



    	<div class="tab-pane" id="bref">


    		<div class="pane-section" id="hiw_1">
    		
    		<span class="pane-subtitle", class:'span3'> <h2><b>Get musical entertainment you will love </b></H2></span>
    		<span class="pane-subtitle", class:'span3'> <b>Prescreened, approved, and backed by our Music Entertainment Guarantee </b></span>
    		<div class="pane-section-left">
    			<p> The moment we receive your gig request, we use the power of our comprehensive live musical entertainment matching system to get you high quality musical entertainment for your event. </p>

    			<p> We: </p>

    		<ul>
    			<li> Find high quality, SB-approved musical professional from our community </li>
    			<li> Check their availability for your event  </li>
    			<li> Confirm their reputation with customer reviews and related event history </li>
    			<li> Verify they comply with the SB quality music entertainment standard </li>
    		</ul>
    		</div>

    	</div>
    	</div>

    	<div class="tab-pane" id="cref">
    		<div class="pane-section" id="hiw_2">
    		
    		<span class="pane-subtitle", class:'span3'> <b>SB Guarantee text </b></span>

    		

    	</div>
    	</div>

    	<div class="tab-pane" id="dref">
    		<div class="pane-section" id="hiw_1">
    		
    		<span class="pane-subtitle", class:'span3'> <b>Competitive Quotes Text </b></span>


    	</div>
    	</div>

    	<div class="tab-pane" id="eref">
    		<div class="pane-section" id="hiw_1">
    		
    		<span class="pane-subtitle", class:'span3'> <b>SB Mobile text </b></span>


    	</div>
    	</div>

    	<div class="tab-pane" id="fref">
    		<p> <b> Customer Care </b> </p>
    	</div>

    </div>
    	

 
  
</div>