<div id="fb-root"></div>



<div class = "main">
	<div class = "main-content">

		<div class = "left-column">

			

		</div>

		<div class = "right-column">

			<div class="right-column-content">

				<h2> The Best Way to Book Musical Entertainment </h2>
				<ul id="summary">
					<li> Select the type of musicians you would like for your event. </li>
					<li> Submit a request, including information about when and where your event is. </li>
					<li> Review bids from quality local musicians. </li>
					<li> Book your favorite musician and pay for the gig through our secure, seamless payment system powered by Balanced </li>


				</ul>

			</div>

			<div class="request-button">
				<a href="/request" class="request_button">Request Live Musicians </a>

			</div>

		</div>

	</div>

		<div class = "bottom-section">

			<div class-"below-containerx">

				<div class="step1">


							<div class="rb-badge">1</div>
				</div>
							

							
				<div class="step2">

							<div class="rb-badge">2</div>

							

				</div>

				<div class="step3">

							<div class="rb-badge">3</div>

						
				</div>
				
			</div>


			<ul id="home_reason2">
				
				

			</ul>

			<ul id="home_reason3">
				
				

			</ul>



		</div>

		<div class = "bottom-section2">

		</div>

		<div class = "bottom-section3">

		</div>

		<div class = "bottom-section4">

		</div>


</div>