// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .main-header{
    margin: 0 auto 50px;
    height:70px;
    background-image:url('http://www.giftrocket.com/images/background_tile.jpg')
  }

  .header-inside{
    width:1000px;
    position:relative;
    padding:20px 0px;
    margin-left:auto;
    margin-right:auto;
    height:69px;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }

  .header-name{
    width:200px;
    float:left;
  }

  .header-name h1 a{
    font-size:30px;
    font-family: "Trebuchet";
  }

  .header-name h1 a:hover{
    color:white;
    text-decoration:none;
    background-color: transparent;
  }


  #navigation li{
    list-style:none;
    float:right;
    display:inline;
    list-style-type:none;
    padding:20px;
  }

  #gigdetail ul{
    list-style:none;
    float:left;
    display:block;
    list-style-type:none;
  }

  #gigdetail li{
    list-style:none;
    float:left;
    display:block;
    list-style-type:none;
    padding:20px;
  }

  .detailcontainer {
    list-style:none;
    display:block;
    list-style-type:none;
  
}

  #navigation a{
    font-size:18px;
  }


  #navigation a:hover{
    color:white;
    text-decoration:none;
    background-color: transparent;
  }

#summary {
  list-style-type: none;
  margin: 0px 0px 25px 0px;
}

 #summary li{
  font-size:12px;
  background:url('http://www.giftrocket.com/images/gold_star.png') no-repeat 0px 4px;
  padding: 0px 0px 10px 15px;
 }

.main{
  padding-top:40px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.main-content{
  padding-bottom:70px;
  width:1000px;
  height:395px;
}

.left-column {
  width: 550px;
  float:left;
  height:395px;
}

.right-column {
  width: 400px;
  float:right;
  height:395px;
}

.request-button{
  margin-left:auto;
  margin-right:auto;
  padding:0px 0px 45px 0px;
}

.request_button{
  background-color:#9897FF;
}

a.request_button{
  padding: 18px 18px 16px 18px;
  font-size: 30px;
  font-weight: bold;
  color:white;
  margin-left:auto;
  margin-right:auto;
  border-radius:2.4px;
}

a.request_button:visited{
  color:white;
}

a.request_button:hover{
  text-decoration:none;
  color:white;
  background-color:#4748BF;
}

request_button:focus{
  background-color:#4748BF;
}

#home_reasons li {
    list-style:none;
    display:inline;
    list-style-type:none;
    padding:20px
}

#home_reasons a{
    font-size:18px;
    color:black;
  }

  #home_reasons li h3{
    font-size:18px;
    color:black;
    width:300px;
  }

  #home_reasons a:hover{
    color:black;
    text-decoration:none;
    background-color: transparent;
  }

 img.adjusted {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    margin:0px;
    padding:0px;
  }
  .home {
    position: relative;
    width: 1000px;
    height: 400px;
    margin-left: 0px;
    margin:0px;
    padding:0px;
  }
  .hometext {
  	color:white;
  	font-family: Calibri;
  	margin:30px;
  	width:400px;
  	z-index:5;
  }

 .fbmargin{
 	margin-left:50px;
 }

 .container{
 	margin:0px;
 	padding:0px;
 }

 .homewrap {
 	position:absolute;
 	float:left;
 	display:block;
 	margin: 0px;
 	padding:0px;
 	background-color:#17D52D;
 	z-index: -3;
 	width: 100%;
    height: 400px;
    top: 200px;
 }

 body{
 	padding:0;
 	margin:0;
 }

img.home {
    position: absolute;
    z-index: -1;
    width: 600px;
    height: 400px;
    top: 0;
    left: 450px;
    margin:0px;
    padding:0px;
  }

  .herowrap{
  	position:absolute;
  	width:100%;
  	top: 472px;
  	height: 160px;
  	background-color:#F2F2F2;
  	z-index:6;
  	box-shadow: 0 3px 5px #ccc;
  }

.presswrap{
  	position:absolute;
  	width:100%;
  	top: 632px;
  	height: 160px;
  	background-color:#E5E3E2;
  	z-index:6;
    -moz-box-shadow:    inset 0 0 10px #6B6B6B;
   -webkit-box-shadow: inset 0 0 10px #6B6B6B;
   box-shadow:         inset 0 0 10px #6B6B6B;
  }

  .people-press{
  	margin:30px;
  	font-weight:bold;
  }

  .requestgigcontainer{
  	position:absolute;
  	top:452px;
  	left:30px;
  	width:325px;
  	height:130px;
  	z-index: 10;
  	background-color:#F7F8F9;
  	border:1.5px solid;
  	border-radius:6px;
  	border-color:#f0f0f0;
  	box-shadow: 2px 2px 5px #6B6B6B;
  }

  H4 { text-align: center }

  p {margin-left: auto;
    margin-right: auto;}

   .navform {
   	color:black;
 }

  .description1of3 {
  	position:absolute;
  	top:452px;
  	left:485px;
  	width:160px;
  	height:130px;
  	z-index: 10;
  	background-color:#FFFFFF;
  }

  .description2of3 {
  	position:absolute;
  	top:452px;
  	left:710px;
  	width:160px;
  	height:130px;
  	z-index: 10;
  	background-color:#FFFFFF;
  }

  .description3of3 {
  	position:absolute;
  	top:452px;
  	left:935px;
  	width:160px;
  	height:130px;
  	z-index: 10;
  	background-color:#FFFFFF;
  }

  .djpic {
  	position:absolute;
  	top:20px;
  	left:420px;
  	width:259px;
  	height:400px;
  	z-index: 10;
  	background-color:#FFFFFF;
  	transform:rotate(-4deg);
	-ms-transform:rotate(-4deg); /* IE 9 */
	-webkit-transform:rotate(-4deg); /* Safari and Chrome */
  }

  .violinistpic {
  	position:absolute;
  	top:20px;
  	left:660px;
  	width:259px;
  	height:400px;
  	z-index: 9;
  	background-color:#FFFFFF;
  	transform:rotate(3deg);
	-ms-transform:rotate(3deg); /* IE 9 */
	-webkit-transform:rotate(3deg); /* Safari and Chrome */
  }

  .bandpic {
  	position:absolute;
  	top:20px;
  	left:900px;
  	width:252px;
  	height:400px;
  	z-index: 8;
  	background-color:#FFFFFF;
  	transform:rotate(1deg);
	-ms-transform:rotate(1deg); /* IE 9 */
	-webkit-transform:rotate(1deg); /* Safari and Chrome */
  }



.headerwrap{
	position:absolute;
  width:100%;
	height:74px;
	top:0px;
	z-index:-1;

      /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EBEBEB));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #EBEBEB 100%);
}

.titlewrap{
  position:relative;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  height:74px;
  top:0px;
  z-index:0;

      /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EBEBEB));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #EBEBEB 100%);
}

.small-margin{
	margin-top: 72px;
	padding:0px;
}

.callus{
	position:relative;
  left:550px;
	width:250px;
	font-size:100%;
	font-family: Calibri;
	vertical-align:middle;
	top:15px;
	color:black;
}


.headerlogo {
	position:absolute;
	top:0px;
	left:0px;
	width:200px;
	height:80px;
}

.headertag{
	position:absolute;
	top:25px;
	height:10px;
	left:200px;
	width:300px;
}

.signupcontainer{
  position:absolute;
  z-index: 10;
  width: 300px;
  top:18px;
  left:770px;
  height:30px;
 // background-color:#F4F3F5;
  // border:1.5px solid;
  // border-radius:4px;
 // border-color:#b2b2b2;
 // box-shadow: 1px 3px 5px 1px #D4D4D4;
  }

  .containermini{
  padding:10px;
  vertical-align:text-top;
  }

  .startpadding{
    margin-right:70px;
    padding:0px;
  }

