// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 img.adjusted {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    margin:0px;
    padding:0px;
  }
  .home {
    position: relative;
    width: 1000px;
    height: 400px;
    margin-left: 0px;
    margin:0px;
    padding:0px;
  }
  .hometext {
  	color:white;
  	font-family: Calibri;
  	margin:30px;
  	width:400px;
  	z-index:5;
  }

 .fbmargin{
 	margin-left:50px;
 }

 .container{
 	margin:0px;
 	padding:0px;
 }

 .homewrap {
 	position:absolute;
 	float:left;
 	display:block;
 	margin: 0;
 	margin-top:112px;
 	padding:0;
 	background-color:#17D52D;
 	z-index: -3;
 	width: 100%;
    height: 400px;
    top: 0;
 }

 body{
 	padding:0;
 	margin:0;
 }

img.home {
    position: absolute;
    z-index: -1;
    width: 600px;
    height: 400px;
    top: 0;
    left: 450px;
    margin:0px;
    padding:0px;
  }

  .herowrap{
  	position:absolute;
  	width:100%;
  	top: 472px;
  	height: 160px;
  	background-color:#F2F2F2;
  	z-index:6;
  	box-shadow: 0 3px 5px #ccc;
  }

.presswrap{
  	position:absolute;
  	width:100%;
  	top: 632px;
  	height: 160px;
  	background-color:#E5E3E2;
  	z-index:6;
  	box-shadow: 5px 5px 5px #888888;
  }

  .people-press{
  	margin:30px;
  	font-weight:bold;
  }

  .requestgigcontainer{
  	position:absolute;
  	top:452px;
  	left:30px;
  	width:325px;
  	height:130px;
  	z-index: 10;
  	background-color:#F7F8F9;
  	border:1.5px solid;
	border-radius:6px;
	border-color:#f0f0f0;
	box-shadow: 5px 5px 5px #888888;
  }

  H4 { text-align: center }

  p {margin-left: auto;
    margin-right: auto;}

   .navform {
   	color:black;
 }

  .description1of3 {
  	position:absolute;
  	top:452px;
  	left:485px;
  	width:160px;
  	height:130px;
  	z-index: 10;
  	background-color:#FFFFFF;
  }

  .description2of3 {
  	position:absolute;
  	top:452px;
  	left:710px;
  	width:160px;
  	height:130px;
  	z-index: 10;
  	background-color:#FFFFFF;
  }

  .description3of3 {
  	position:absolute;
  	top:452px;
  	left:935px;
  	width:160px;
  	height:130px;
  	z-index: 10;
  	background-color:#FFFFFF;
  }

  .djpic {
  	position:absolute;
  	top:20px;
  	left:420px;
  	width:259px;
  	height:400px;
  	z-index: 10;
  	background-color:#FFFFFF;
  	transform:rotate(-4deg);
	-ms-transform:rotate(-4deg); /* IE 9 */
	-webkit-transform:rotate(-4deg); /* Safari and Chrome */
  }

  .violinistpic {
  	position:absolute;
  	top:20px;
  	left:660px;
  	width:259px;
  	height:400px;
  	z-index: 9;
  	background-color:#FFFFFF;
  	transform:rotate(3deg);
	-ms-transform:rotate(3deg); /* IE 9 */
	-webkit-transform:rotate(3deg); /* Safari and Chrome */
  }

  .bandpic {
  	position:absolute;
  	top:20px;
  	left:900px;
  	width:252px;
  	height:400px;
  	z-index: 8;
  	background-color:#FFFFFF;
  	transform:rotate(1deg);
	-ms-transform:rotate(1deg); /* IE 9 */
	-webkit-transform:rotate(1deg); /* Safari and Chrome */
  }

 .footerwrap{
 	bottom: 0;
}

.headerwrap{
	position:absolute;
  width:100%;
	height:74px;
	top:0px;
	background-color:#F4F3F5;
	z-index:-1;
}

.titlewrap{
  position:relative;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  height:74px;
  top:0px;
  background-color:#F4F3F5;
  z-index:0;
}

.small-margin{
	margin-top: 72px;
	padding:0px;
}

.callus{
	position:relative;
  left:550px;
	width:250px;
	font-size:100%;
	font-family: Calibri;
	vertical-align:middle;
	top:15px;
	color:black;
}


.headerlogo {
	position:absolute;
	top:0px;
	left:0px;
	width:200px;
	height:80px;
}

.headertag{
	position:absolute;
	top:25px;
	height:10px;
	left:200px;
	width:300px;
}

.signupcontainer{
  position:absolute;
  z-index: 10;
  width: 300px;
  top:18px;
  left:770px;
  height:30px;
  background-color:#F4F3F5;
  border:1.5px solid;
  border-radius:4px;
  border-color:#b2b2b2;
  box-shadow: 1px 3px 5px 1px #D4D4D4;
  }

  .containermini{
  padding:10px;
  vertical-align:center;
  }

  .startpadding{
    margin-right:70px;
    padding:0px;
  }