// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .main-header{
    margin: 0 auto 50px;
    height:50px;
    background-color: red;
  }

  .header-inside{
    width:1000px;
    position:relative;
    //padding:20px 0px;
    margin-left:auto;
    margin-right:auto;
    height:49px;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }

  .header-name{
    width:200px;
    float:left;
  }

  .header-logo{
    width:300px;
    height:120px;
    margin:0px;
    float:left;
  }

  .header-name h1 a{
    font-size:30px;
    color:white;
    font-family: "Trebuchet";
  }

  .header-name h1 a:hover{
    color:white;
    text-decoration:none;
    background-color: transparent;
  }


  #navigation li{
    list-style:none;
    float:right;
    display:inline;
    list-style-type:none;
    padding:20px;
  }

  #below-container2 ul{
    list-style:none;
    display:inline-block;
  }

  #below-container2 ul li{
    width:300px;
  }

  #gigdetail ul{
    list-style:none;
    float:left;
    display:block;
    list-style-type:none;
  }

  #gigdetail li{
    list-style:none;
    float:left;
    display:block;
    list-style-type:none;
    padding:20px;
  }

  .detailcontainer {
    list-style:none;
    display:block;
    list-style-type:none;
  
}

  #navigation a{
    font-size:18px;
  }


  #navigation a:hover{
    color:white;
    text-decoration:none;
    background-color: transparent;
  }

#summary {
  list-style-type: none;
  margin: 0px 0px 25px 0px;
}

 #summary li{
  font-size:12px;
  background:url('http://www.giftrocket.com/images/gold_star.png') no-repeat 0px 4px;
  padding: 0px 0px 10px 15px;
  font-family: 'Museo Sans',Arial,Helvetica,sans-serif;
 }

.main{
  padding-top:40px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.main-content{
  padding-bottom:70px;
  font-family: 'Cutive', Georgia, Times, serif;
  height:395px;
}

.left-column {
  width: 550px;
  float:left;
  height:395px;
}

.right-column {
  width: 400px;
  float:right;
  height:395px;
  padding:15px;
}

.request-button{
  margin-left:auto;
  margin-right:auto;
  padding:0px 0px 45px 0px;
  font-family: 'Museo Sans',Arial,Helvetica,sans-serif;
}

.request_button{
  
  background-color:#E01918;
  left: 90px;
}

a.request_button{
  padding: 18px 18px 16px 18px;
  font-size: 19px;
  font-weight: bold;
  color:white;
  border-radius:2.4px;
  text-align:center;
  left: 90px;

}

.sign-in-cta{
  
  background-color:#E01918;
  left: 90px;
  color:white;
}

a.sign-in-cta{
  padding: 10px 10px 8px 10px;
  font-size: 19px;
  font-weight: bold;
  color:white;
  border-radius:2.4px;
  text-align:center;
  left: 90px;
  font-family: 'Museo Sans',Arial,Helvetica,sans-serif;

}

a.sign-in-cta:visited{

  color:white;
  
} 

.main-cta{
    height:135px;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    z-index: 10;
    background-color:#F7F8F9;
    border:1.5px solid;
    border-radius:6px;
    
}

.request-cta{
  
  background-color:#E01918;
  left: 90px;
  color:white;

}

a.request-cta{
  padding: 18px 18px 16px 18px;
  font-size: 19px;
  font-weight: bold;
  color:white;
  border-radius:2.4px;
  text-align:center;
  font-family: 'Museo Sans',Arial,Helvetica,sans-serif;
  vertical-align:middle;
}

a.request-cta:visited{

  color:white;
  
}

a.request-cta:hover{
  text-decoration:none;
  color:white;
  background-color:#F45B59;
}

a.request_button:visited{
  color:white;
}

a.request_button:hover{
  text-decoration:none;
  color:white;
  background-color:#F45B59;
}

request_button:focus{
  background-color:#4748BF;
}

.step1{
  width:366px;
  float:left;
}

.step2{
  width:366px;
  float:left;
}

.step3{
  width:367px;
  float:left;
}

#home_reason1 {
    list-style:none;
    display:inline;
    list-style-type:none;
    padding:20px;
    width:400px;
}

#home_reason1 li {
    list-style:none;
    display:inline;
    list-style-type:none;
    padding:20px;
    width:400px;
}

#home_reasons a{
    font-size:18px;
    color:black;
  }

  #home_reasons li h3{
    font-size:18px;
    color:black;
    width:300px;
  }

  #home_reasons a:hover{
    color:black;
    text-decoration:none;
    background-color: transparent;
  }

 img.adjusted {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    margin:0px;
    padding:0px;
  }
  


  .hometext {
  	color:#401681;
  	font-family: Calibri;
  	margin:30px;
  	width:400px;
  	z-index:5;
  }

  .header-title{
    width:300px;
    float:left;
    height:120px;
  }

  .header-title p{

    padding:11px;
    margin:0px;
    font-family: 'Museo Sans',Arial,Helvetica,sans-serif;
    font-size:28px;
  }

  .header-cta{
    width:300px;
    float:left;
    height:120px;
    vertical-align:middle;
    line-height:20px;
    text-align:center;

    
  }

 .fbmargin{
 	top:90px;
  position:relative;
  margin-left:40px;
 }

 .container{
 	margin:0px;
 	padding:0px;
 }

 .homewrap {
 	
  
  vertical-align: middle;
  display: inline-block;
 	
 	margin: 0 auto;
 	padding:0px;
 	background-color:white;
 	z-index: -99;
 	width: 1100px;
  height: 460px;
  top: 165px;
 }

.home{
  position:relative;
  display:block;
  width:100%;
  margin: 0 auto;
  vertical-align:middle;
  text-align:center;
}

.video-container{
  padding:30px;
  position:relative;
  left:40px;
  width:440px;
  height:335px;
  top:30px;
  background-color:#F2EFEA;
  margin:0;
  text-align:center;
  vertical-align:middle;
  display:block;
  float:left;
}

.video{
  top:10px;
  position:relative;
}

.copy-container{
  width:500px;
  height:335px;
  position:relative;
  display:block;
  float:left;
  top:30px;
  left:40px;
}

 body{
 	padding:0;
 	margin:0;
 }

img.home {
    position: absolute;
    z-index: -1;
    width: 600px;
    height: 400px;
    top: 0;
    left: 450px;
    margin:0px;
    padding:0px;
  }

  .herowrap{
  	position:absolute;
  	width:100%;
  	top: 472px;
  	height: 160px;
  	background-color:#F2F2F2;
  	z-index:6;
  	box-shadow: 0 3px 5px #ccc;
  }

.presswrap{
  	position:relative;
  	width:1100px;
  	height: 160px;
    margin-left:auto;
    margin-right:auto;
  	background-color:#E5E3E2;
  	z-index:6;
    -moz-box-shadow:    inset 0 0 10px #6B6B6B;
   -webkit-box-shadow: inset 0 0 10px #6B6B6B;
   box-shadow:         inset 0 0 10px #6B6B6B;
  }

  .people-press{
  	position:relative;
    top:10px;
  	font-weight:bold;
    margin-left:40px;
  }

  .requestgigcontainer{
  	position:absolute;
  	top:452px;
  	left:30px;
  	width:325px;
  	height:135px;
  	z-index: 10;
  	background-color:#F7F8F9;
  	border:1.5px solid;
  	border-radius:6px;
  	border-color:#f0f0f0;
  	box-shadow: 2px 2px 5px #6B6B6B;
    text-align:center;
  }

  H4 { text-align: center }

  p {margin-left: auto;
    margin-right: auto;}

   .navform {
   	color:black;
 }

  .description1of3 {
  	position:absolute;
  	top:452px;
  	left:485px;
  	width:160px;
  	height:130px;
  	z-index: 10;
  	background-color:#FFFFFF;
  }

  .description2of3 {
  	position:absolute;
  	top:452px;
  	left:710px;
  	width:160px;
  	height:130px;
  	z-index: 10;
  	background-color:#FFFFFF;
  }

  .description3of3 {
  	position:absolute;
  	top:452px;
  	left:935px;
  	width:160px;
  	height:130px;
  	z-index: 10;
  	background-color:#FFFFFF;
  }

  .djpic {
  	position:absolute;
  	top:20px;
  	left:420px;
  	width:259px;
  	height:400px;
  	z-index: 10;
  	background-color:#FFFFFF;
  	transform:rotate(-4deg);
	-ms-transform:rotate(-4deg); /* IE 9 */
	-webkit-transform:rotate(-4deg); /* Safari and Chrome */
  }

  .violinistpic {
  	position:absolute;
  	top:20px;
  	left:660px;
  	width:259px;
  	height:400px;
  	z-index: 9;
  	background-color:#FFFFFF;
  	transform:rotate(3deg);
	-ms-transform:rotate(3deg); /* IE 9 */
	-webkit-transform:rotate(3deg); /* Safari and Chrome */
  }

  .bandpic {
  	position:absolute;
  	top:20px;
  	left:900px;
  	width:252px;
  	height:400px;
  	z-index: 8;
  	background-color:#FFFFFF;
  	transform:rotate(1deg);
	-ms-transform:rotate(1deg); /* IE 9 */
	-webkit-transform:rotate(1deg); /* Safari and Chrome */
  }



.headerwrap{
	position:absolute;
  width:100%;
	height:74px;
	top:0px;
	z-index:-1;

      /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EBEBEB));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #EBEBEB 100%);
}

.titlewrap{
  position:relative;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  height:74px;
  top:0px;
  z-index:0;

      /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #EBEBEB));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EBEBEB 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #FFFFFF 0%, #EBEBEB 100%);
}

.small-margin{
	margin-top: 72px;
	padding:0px;
}

.callus{
	position:relative;
  left:550px;
	width:250px;
	font-size:100%;
	font-family: Calibri;
	vertical-align:middle;
	top:15px;
	color:black;
}


.headerlogo {
	position:absolute;
	top:0px;
	left:0px;
	width:200px;
	height:80px;
}

.headertag{
	position:absolute;
	top:25px;
	height:10px;
	left:200px;
	width:300px;
}

.signupcontainer{
  position:absolute;
  z-index: 10;
  width: 300px;
  top:18px;
  left:770px;
  height:30px;
 // background-color:#F4F3F5;
  // border:1.5px solid;
  // border-radius:4px;
 // border-color:#b2b2b2;
 // box-shadow: 1px 3px 5px 1px #D4D4D4;
  }

  .containermini{
  padding:10px;
  vertical-align:text-top;
  }

  .startpadding{
    margin-right:70px;
    padding:0px;
  }

.step-span1{
  width:300px;
}

.step-span2{
  width:300px;
}

.step-span3{
  width:300px;
}

.bottom-section{
  position:relative;
    width:1100px;
    height: 220px;
    margin-left:auto;
    margin-right:auto;
    background-color:#EEEEEE;
    z-index:6;
  
}


.bottom-section2{
  background-color: #6AD6D6;
  height:270px;

  box-shadow: 0 5px 5px #ccc;
  border-style:solid;
  border-width:1px;
  border-color: #D5D6D6;
  

}

.bottom-section3{
  background-color: #FADEE8;
  height:230px;

  box-shadow: 0 5px 5px #ccc;
  border-style:solid;
  border-width:1px;
  border-color: #D5D6D6;
  
}

.bottom-section4{
  background-color: #8D80E8;
  height:300px;

  box-shadow: 0 5px 5px #ccc;
  border-style:solid;
  border-width:1px;
  border-color: #D5D6D6;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.navbar{
  position:relative;
  width:100%;
}

.below-header{
  background-color:white;
  height:120px;
  text-align: center;
  position:relative;
  width:100%;
  -moz-box-shadow:    inset 0 0 10px -5px #6B6B6B;
   -webkit-box-shadow: inset 0 0 10px -5px #6B6B6B;
   box-shadow:        inset  0 0 10px -5px #6B6B6B;
  
}

.below-container{
  position:relative;
  top:31px;
  text-align:center;
  font-size:30px;
  color: #747474;
  height:90px;

}

.below-container a{
    color: #575656;
    font-family: 'Cutive', Georgia, Times, serif;
  
  }

  .below-container a:hover{
    text-decoration:none;
    color: #747474;

  
  }

  .header-cta a:hover{
    text-decoration:none;
    color: white;
    background:#F27B7C;

  
  }

  .right-column-content{
    margin-top:75px;
    font-family: 'Museo Sans',Arial,Helvetica,sans-serif;
  }


.navbar-outer{
  margin-bottom:0px;
  font-family: 'Cutive', Georgia, Times, serif;
}

.nav-collapse{
  font-family: 'Cutive', Georgia, Times, serif;
}

.navbar{
    margin-bottom:0px;
}

.main-content{
  background-color:#ffffff;
  box-shadow: 0 5px 5px #ccc;
  border-style:solid;
  border-width:1px;
  border-color: #D5D6D6;
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  //border-bottom-left-radius
  //border-bottom-right-radius


}

.rb-badge {
  border-radius: 50%;
  padding: 3px;
  color: white;

  background-color: #333333;
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  margin-top:10px;
  margin-bottom: 20px;
  line-height: 32px;
  font-size: 28px;
  font-family: "Avenir Heavy",Arial,sans;
}

.step-container{
  text-align:center;
  width:300px;
  margin:10px;
  position: relative;

}

.below-header-user{
  display:block;
  background-color:#6E75E8;
  top:50px;
  height:80px;
}

.below-container2{
  
  position:relative;
  vertical-align: middle;
  display: inline-block;
  
  margin-left:auto;
  margin-right:auto;
  
  text-align:center;
  font-size:30px;
  height:120px;

  width:900px;
  
  font-family: 'Cutive', Georgia, Times, serif;

}

.interim-section-wrap{

  height:60px;
  position:relative;
  bottom:0px;
  width:100%;
  vertical-align: middle;
  text-align:center;
  
  
}


.interim-section{
  
  position:relative;
  vertical-align: middle;
  display: inline-block;
  
  margin-left:auto;
  margin-right:auto;
  

  text-align:center;
  font-size:30px;
  height:60px;
  background-color:#85EEBA;

  width:1100px;

  color:#FBFBFB;
  
  font-family: 'Cutive', Georgia, Times, serif;
}


.below-containerx{
  
  position:relative;
  vertical-align: middle;
  display: inline-block;
  
  margin-left:auto;
  margin-right:auto;
  
  text-align:center;
  font-size:30px;
  height:220px;

  width:1100px;
  
  font-family: 'Cutive', Georgia, Times, serif;

}

  .navbar-inner a{

    font-family: 'Museo Sans',Arial,Helvetica,sans-serif;
  }

  .footer-wrap{
  
  height:250px;
  background-color: #333333;
  position:relative;
  bottom:0px;
  width:100%;
  }

  .footer-container{
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color:white;
  height:80px;
  }

  .footer-container a{

    color:white;
  }

  .footer-container a:visited{

    color:white;
  }

  .footer-container a:hover{

    color:grey;
    text-decoration:none;

  }


  .footer-link{

    font-size: 16px;
    display: inline-block;
    margin: 40px 20px;
  }

.footer-extras{

  width:1100px;
  margin-left:auto;
  margin-right:auto;
  
  color:white;

  height:170px;



  width:1100px;
  
  font-family: 'Cutive', Georgia, Times, serif;
  
}

ul#footer{
  list-style-type: none;
  font-size:12px;
  text-decoration:bold;
  display:inline-block;
  float:left;
}

ul#footer a:visited{
  color:white;
}

.footer-extras a{

  color:white;
  
}

.footer-extras a:hover{

  color:grey;
  text-decoration:none;
  
}

  .listings{
  width:350px;
  padding:40px;
  display:block;
  float:left;
  }

  .locations{
    width:550px;
    padding:40px;
    display:inline-block;
    float:left;
  }

