$navbarBackgroundHighlight: #36B32D;
$navbarBackground: #36B32D;
$navbarText:  #f9ed9d;
$navbarLinkColor: white;
$btnPrimaryBackground: #E51B21;
$btnText: white;

@import 'bootstrap';

body{
    padding:0px;
}

@import 'bootstrap-responsive';

userbtn {
  width:100px;
}

.navbar-inner{
    @include box-shadow(none !important);
    border: 52;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    padding:0px;
}

.navbar{
    padding:0px;

}

.footer{
    color: $grayLight;
    a{
        color: $gray;
    }
}

.bottom-margin{
  margin-top: 1cm;
  width:300px;
  font-size:150%;
  line-height:110%;
}
