$navbarBackgroundHighlight: #333333;
$navbarBackground: #333333;
$navbarText:  #f9ed9d;
$navbarLinkColor: white;
$navbarFont: Cambria;
$btnPrimaryBackground: #681AFF;
$btnText: white;

@import 'bootstrap';

body{
    padding:0px;
}

@import 'bootstrap-responsive';

navigation a{
  font-weight: bold;
}

userbtn {
  width:100px;
}

.navbar-inner{
    @include box-shadow(none !important);
    border: 52;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    padding:3px;
    border: #1A7F1A;
    border-radius:0px;
}

.navbar{
    padding:0px;
    box-shadow: 1px .5px 2px 1px #1F581F;
    border-top-color:#93FF95;
    margin-bottom:0px;

}


.bottom-margin{
  margin-top: 1cm;
  width:300px;
  font-size:150%;
  line-height:110%;
}