// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.userlogin{
  
}

.logincontainer{
    
    width:360px;
    margin-top:50px;
    height:355px;
    margin-left:auto;
    margin-right:auto;
    border-radius:4px;
    background-color:white;

    border-color:#b2b2b2;
    box-shadow: 1px 3px 5px 1px #D4D4D4;
    
}
    
.userloginbtn {
    display:block;
    padding-left: 62.5px;

}

.userloginbtn .btn-primary{
    display:block;
    width:220px;
    text-align:center;
}

#loginfooter {
    margin-top:35px;
    
    text-align:center;

}


#loginfooter li{
    list-style:none;
    
    display:inline;
    list-style-type:none;
    padding-right:10px;



  }

  #loginfooter li:hover{
    
    text-decoration:none;
    list-style:none;
    list-style-type:none;



  }

  .login-footer {
   
   height:95px;
   z-index:2;
   border-top: solid 1px #e0e0e0;
    box-shadow: inset 0px 1px 0px #fff;
  }

.login-header {
  
  border-radius:5px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);
  

}

.login-footer {
  
  border-radius:5px;
  background:#f4f4f4;
  text-align:center;

}

.login-footer a{
  
  border-radius:2.5px;
  padding:5px;
  border: solid 1px #e0e0e0;
  background-color:#f4f4f4;
  box-shadow: inset 0px 1px 0px #fff;
  color:#08c;

}

.login-footer a:hover{
  
  
  background-color:#efefef;
  color:black;
    text-decoration:none;

}

.login-header h1{
    background-color:purple;
    margin-left:auto;
    margin-right:auto;
    color:white;
    text-align:center;
    font-size:18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.userlogin-form{
  padding-left:62.5px;
}


.requestcontainer{

    width:360px;
    margin-top:75px;

    margin-bottom:150px;

    
    margin-left:auto;
    margin-right:auto;
    border-radius:4px;
    background-color:white;

    border-color:#b2b2b2;
    box-shadow: 1px 3px 5px 1px #D4D4D4;

  
}

.request-header{

    border-radius:5px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4);

}

.request-header h1{
    background-color:purple;
    margin-left:auto;
    margin-right:auto;
    color:white;
    text-align:center;
    font-size:18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.requestpadding{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.gigdetailpadding{
    margin-left:auto;
    margin-right:auto;
}

.gigdetailcontainer{

    width:360px;
    margin-top:75px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    border-radius:4px;
    background-color:white;

    border-color:#b2b2b2;
    box-shadow: 1px 3px 5px 1px #D4D4D4;

  
}

#gigdetail ul{
    list-style:none;
    float:left;
    display:block;
    list-style-type:none;
  }

  #gigdetail li{
    list-style:none;
    float:left;
    display:block;
    list-style-type:none;
    padding:20px;
  }

    #gigdetail2 li{
    list-style:none;
    float:left;
    display:block;
    list-style-type:none;
    padding:20px;
  }

    #gigdetail3 li{
    list-style:none;
    float:left;
    display:block;
    list-style-type:none;
    padding:20px;
  }

.gigdetailpadding ul {
    color:black;
    text-decoration:none;
    list-style:none;
    display:block;
    list-style-type:none;
  
}

.detailcontainer {
    list-style:none;
    display:block;
    list-style-type:none;
  
}

.form-actions {
    width: 200 px;
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.userloginform{
	margin-left:auto;
	margin-right:auto;
	padding: 0px;
}

.usersignupform{
	margin-left:50px;
	margin-right:auto;
	padding: 0px;
}

.usersignuppadding{

}

.userloginpadding{

}

.userloginpadding ul a:hover{
    color:black;
    text-decoration:none;
  
}

.headtext {
	color: #36B32D;
}

.usersignincontainer{
	margin-left:auto;
	margin-right:auto;
}

.usersignincontainer{
  	z-index: 10;
  	margin-left:auto;
	margin-right:auto;
  	width: 250px;
  	background-color:#Ffffff;
  	border:1.5px solid;
	border-radius:4px;
	border-color:#b2b2b2;
	box-shadow: 1px 3px 5px 1px #D4D4D4;
  }

  .signupbtn {
  color:red;
  }

  .usersignupcontainer{
  	z-index: 10;
  margin-left:auto;
	margin-right:auto;
  margin-top:50px;
  margin-bottom:50px;
  
  	width: 330px;
  	background-color:#Ffffff;
  	border:1.5px solid;
	border-radius:4px;
	border-color:#b2b2b2;
	box-shadow: 1px 3px 5px 1px #D4D4D4;
  }


.haveacct {
	font-weight:400;
	font-size:85%;
  text-align:center;
}

.usersignupbtn {
	text-align:center;
}

userbtn {
	width:100px;
}


  .header-login{
  position:absolute;
  left:700px;
  top:15px;
}

.headerlogo {
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:40px;
}

.headertag{
  position:absolute;
  top:25px;
  height:10px;
  left:200px;
  width:300px;
}

.Request-container{
	border:1.5px solid;
	border-radius:4px;
	border-color:#b2b2b2;
}
