// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-actions {
    width: 200 px;
    margin: 0;
    background-color: transparent;
    text-align: center;
}