<div class="row">
	<div class = "span6 offset3">

		<div class = "well">

		<p>
		  <%= @gig.desription %>
		</p>

		<p>
		  <%= @gig.user.name %>
		</p>

		<% if current_user == @gig.user %>
		<%= link_to 'Edit', edit_gig_path(@gig) %>
		<% end %>
		

		<%= link_to 'Back', gigs_path %>

		</div>
	</div>
</div>


