
<div class="footer-wrap">

	<div class="footer-container">

		<a href="/about/" class="footer-link">
          About us
        </a>

        <a href="/about/" class="footer-link">
          Blog
        </a>

        <a href="/about/" class="footer-link">
          Our team
        </a>

        <a href="/about/" class="footer-link">
          Terms
        </a>

        <a href="/about/" class="footer-link">
          Privacy
        </a>

        <a href="/about/" class="footer-link">
          Help/FAQ
        </a>

        <a href="/about/" class="footer-link">
          Contact us
        </a>

	</div>

	<div class="footer-extras">

		<div class = "listings">

			<ul id="footer">

				<li>

					<a href="/about/" class="footer-extra-link">
			          Home Guides
			        </a>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          Musician Directory
			        </a>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          Genre Directory
			        </a>

		    	</li>

		    	<li>

		        	© 2014  GoSongBird Inc. All Rights Reserved
		    	</li>
        	</ul>

		</div>

		<div class="locations">

			<ul id="footer">

				<li>

					<b>
			          Where we are
			        </b>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          Chicago
			        </a>

		    	</li>

        	</ul>

        	<ul id="footer">

				<li>

					<b>
			          Coming Soon to
			        </b>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          Austin
			        </a>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          Los Angeles
			        </a>

		    	</li>

		    	<li>

			        <a href="/about/" class="footer-extra-link">
			          New York
			        </a>

		    	</li>
		    	
        	</ul>


		</div>

	</div>

</div>